{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url('theme://assets/images/favicon.ico') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://assets/css/bootstrap.min.css', 200) %}
        {% do assets.addCss('theme://assets/css/font-awesome.min.css', 190) %}
        {% do assets.addCss('theme://assets/css/owl.carousel.css', 180) %}
        {% do assets.addCss('theme://assets/css/template.css', 100) %}
    {% endblock %}
    {{ assets.css() }}

{% endblock head %}
</head>

<body class="view-{{ page.template }} {{ page.header.body_classes }}">
    <div class="main">
        {% block headerTop %}
        <section id="header-top">
            <div class="container">
                <ul class="user-help">
                    <li><i class="fa fa-envelope-o"></i> ncr@mkcl.org</li>
                    <li><i class="fa fa-phone"></i> 022 39435735</li>
                    <li><i class="fa fa-phone"></i> 022 39435775</li>
                    <li class="box-social">
                        <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </section>
        {% endblock %}
        {% block header %}
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo-holder">
                            <a id="logo" href="{{ base_url == '' ? '/' : base_url }}">
                                <img src="{{ base_url }}/{{ config.site.logo }}" alt="{{ config.site.title }}">
                                <div class="logo-text">
                                    Network Partner
                                    <span>Registration</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">Main Menu</a>
                                </div>
                                <div class="collapse navbar-collapse" id="nav-main-menu">
                                    {% block header_extra %}{% endblock %}
                                    {% if config.plugins.langswitcher.enabled %}
                                    {% include 'partials/langswitcher.html.twig' %}
                                    {% endif %}
                                    {% block header_navigation %}
                                    {% include 'partials/navigation.html.twig' %}
                                    {% endblock %}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}

        {% block body %}
        <main id="content">
            <!-- <div class="container">
                <div class="row"> -->
                    <!-- <div class="well">value = {{ page.header.sidebar }}</div> -->
                    {#% set main_col = page.header.sidebar ? 'col-md-9' : 'col-md-12' %#}
                    {#% if page.header.sidebar == 'left' %#}
                    <!-- <aside id="left-sidebar" class="col-md-3">
                        {% include 'partials/navigation-alt.html.twig' %}
                    </aside> -->
                    {#% endif %#}
                    <!-- <section id="main-content" class="{{ main_col }}"> -->
                        {% block content %}{% endblock %}
                    <!-- </section> -->
                    {#% if page.header.sidebar == 'right' %#}
                    <!-- <aside id="right-sidebar" class="col-md-3">
                        {% include 'partials/navigation-alt.html.twig' %}
                    </aside> -->
                    {#% endif %#}
                <!-- </div>
            </div> -->
        </main>
        {% endblock %}

        {#% include 'modular/showcase.html.twig' with {'page': page.find('/home/_showcase')} %#}
        {% if page.header.newsletter == true %}
        <section class="container box-newsletter">
            <!-- <div class="container"> -->
                <div class="row vertical-adjust">
                    <div class="col-md-6">
                        <h4>Stay Informed</h4>
                        <p>Get updates on registration dates, new opening, phases and much much more!</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <form>
                            <input type="text" class="form-control" name="" placeholder="Enter Email Address"><button class="btn">Subscribe <i class="fa fa-angle-right"></i></button>
                        </form>
                    </div>
                </div>
            <!-- </div> -->
        </section>
        {% endif %}

        {% block footerTop %}
        <section id="footer-top" {% if page.header.newsletter == true %}class="join-news"{% endif %}>
            {% set options = { items: {'@page.children': '/footer'}, 'limit': 5 } %}
            {% set my_collection = page.collection(options) %}
            <div class="container">
                <div class="row">
                    {% for p in my_collection %}
                    <div class="{{ p.header.body_classes }}">
                        {% if p.header.show_title is not defined %}<h5>{{ p.title }}</h5>{% endif %}
                        {{ p.content }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- <div class="container">
                <div class="row">
                    <div class="col-md-4 box-about">
                        <img src="{{ base_url }}/{{ config.site.logo }}" alt="{{ config.site.title }}">
                        <p>This is where some text about the company will be written, or it can also be some information about the purpose of the website and how it can be useful to its visitors.</p>
                    </div>
                    <div class="col-md-offset-1 col-md-7">
                        <h5>Important Links</h5>
                        <ul class="footer-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About MKCL</a></li>
                            <li><a href="#">About MS-CIT</a></li>
                            <li><a href="#">KLiC Courses</a></li>
                            <li><a href="#">Empanelment</a></li>
                            <li><a href="#">Help & Support</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </section>
        {% endblock %}

        {% block footer %}
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="copyright col-md-12">
                        Copyright &copy; {{ "now" | date("Y") }} <a href="http://www.mkcl.org" target="_blank">Maharashtra Knowledge Corporation Limited</a>. All Rights Reserved.
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}
    </div>
{% block javascripts %}
    {#% do assets.addJs('jquery', 101) %#}
    {% do assets.addJs('theme://assets/js/jquery-2.1.4.min.js', 200) %}
    {% do assets.addJs('theme://assets/js/bootstrap.min.js', 190) %}
    {% do assets.addJs('theme://assets/js/owl.carousel.min.js', 180) %}
    {% do assets.addJs('theme://assets/js/custom.js', 100) %}
{% endblock %}
{{ assets.js() }}
</body>
</html>
