<section id="showcase">
    <div class="owl-slider">
        {% for slide in page.header.slides %}
        <div class="slide{% if slide.primary %} primary{% endif %}" style="background-image: url({{ base_url }}/{{ slide.bg }})">
            <div class="container">
                <div class="slide-holder">
                    <div class="slide-title">{{ slide.title }}</div>
                    <div class="slide-subtitle">{{ slide.subtitle }}</div>
                    <div class="slide-action">
                        {% for button in slide.buttons %}
                        <a class="{{ button.class }}" href="{{ button.url }}">{{ button.text }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>